<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PJAX Demo - @ViewBag.Title</title>
</head>
<body>
    <div>
        <span id="header">@DateTime.Now.Ticks</span>
    </div>
    <div data-pjax="true">
        @RenderBody()
    </div>

    @if (Request.Cookies["disableJs"] == null || Request.Cookies["disableJs"].Value != "True")
    {
        <script src="~/Scripts/jquery-1.12.4.min.js"></script>
        <script src="~/Scripts/mvcForms.min.js"></script>

        <script>
            $(function () {
                @RenderSection("script", required: false)
            });
        </script>

        <script>
            var pjaxOnError = pjax.onError;

            pjax.onError = function (jqXHR, textStatus, errorThrown, context, callback) {
                if (!pjaxOnError(jqXHR, textStatus, errorThrown, context, callback))
                    alert("textStatus='" + textStatus + "'\nerrorThrown='" + errorThrown + "'");
            }

            $(function () {
                mvcForms.init();
            });
        </script>
    }
    else
    {
        <div>JS Disabled for testing</div>
        <pre><code>@RenderSection("script", required: false)</code></pre>
    }
</body>
</html>
