@using MvcForms.StubApp.Utility
@namespace MvcForms.StubApp.Views.Shared
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <title>MvcForms - @ViewBag.Title</title>

    @switch (Context.GetCurrentCssFramework())
    {
        case CssFramework.Bootstrap3:
            <link rel="stylesheet" href="~/bootstrap-3.3.7/css/bootstrap.min.css" />
            break;
        case CssFramework.Bootstrap4:
            <link rel="stylesheet" href="~/bootstrap-4.1.3/css/bootstrap.min.css" />
            break;
        default:
            throw new Exception($"Unhandled framework: {Context.GetCurrentCssFramework()}");
    }
    <link rel="stylesheet" href="~/css/mvcForms.min.css" />

    <style>
        .buttonList li {
            margin: 5px;
        }

        .btn {
            margin-right: 6px;
            margin-bottom: 6px;
        }
    </style>

    @if (Context.Request.Cookies["disableJs"] != "True")
    {
        <script src="~/js/modernizr.min.js"></script>
    }

</head>

<body>
    <div class="mfoStub-header">
        @SharedViews.CssFrameworkSelector(this)
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @if (Context.Request.Cookies["disableJs"] != "True")
    {
        @switch (Context.GetCurrentCssFramework())
        {
            case CssFramework.Bootstrap3:
                <script src="~/js/jquery.min.js"></script>
                <script src="~/bootstrap-3.3.7/js/bootstrap.min.js"></script>
                break;
            case CssFramework.Bootstrap4:
                <script src="~/js/jquery.min.js"></script>
                <script src="~/bootstrap-4.1.3/js/bootstrap.min.js"></script>
                break;
            default:
                throw new Exception($"Unhandled framework: {Context.GetCurrentCssFramework()}");
        }
        <script src="~/js/mvcForms.min.js"></script>
        <script src="~/js/stubApp.js"></script>
        @RenderSection("scripts", required: false)
    }
    else
    {
        <div>JS Disabled for testing</div>
        <pre><code>@RenderSection("scripts", required: false)</code></pre>
    }
</body>
</html>
