@using MvcForms.StubApp.Controllers
@using MvcForms.StubApp.Views
@using MvcForms.StubApp.Models.Forms
@using MvcForms.Navigation
@inherits StubPage<object>
@{
    SetLayout("Static HTML examples");
}
<h3>Static HTML examples</h3>
<section>
    <ul class="buttonList">
        <li>@Html.LinkButton("Bootstrap Horizontal Form", FormsActions.BootstrapHorizontal())</li>
    </ul>
</section>

<h3>ForModel</h3>
<section>
    <ul class="buttonList">
        <li>@Html.LinkButton("ForModel()", FormsActions.ForModel())</li>
        <li>@Html.LinkButton("ForModel(\"test\")", FormsActions.ForModel("test"))</li>
        <li>@Html.LinkButton("ForModel(\"tst\")", FormsActions.ForModel("tst"))</li>
        <li>@Html.LinkButton("ForModelUsing(\"test\")", FormsActions.ForModelUsing("test"))</li>
    </ul>
</section>

<h3>FormFor</h3>
<section>
    <ul class="buttonList">
        <li>@Html.LinkButton("FormFor(\"test\")", FormsActions.FormFor("test"))</li>
    </ul>
</section>
