@inherits PjaxPage<MvcForms.StubApp.Models.Examples.InputsModel>
@{
    SetLayout("Inputs");
}
<h3>Inputs</h3>
<style>
    p { margin-top: 20px; }
    form {
        background: #eee;
        max-width: 800px;
    }
</style>
@using (var form = Html.FormFor(Model.PostModel).Begin())
{
    @Html.ValidationSummary()

    <h3>ASP.NET MVC Example</h3>
    <div>
        @form.Html.LabelFor(c => c.StringInput1, "Project Name")
        @form.Html.TextBoxFor(c => c.StringInput1)
        @form.Html.ValidationMessageFor(c => c.StringInput1)
    </div>

    <h3>InputText</h3>
    <div>
        StringInput1: @form.Html.InputText(f => f.StringInput1)
    </div>

    <h3>LabelledInputText</h3>
    @form.Html.LabelledInputText("StringInput2", f => f.StringInput2)
}
