@inherits PjaxPage<MvcForms.StubApp.Models.Examples.InputsModel>
@{
    SetLayout("Inputs");
}

<h3>Inputs</h3>

<style>
    p { margin-top: 20px; }
    form {
        background: #eee;
        max-width: 800px;
    }
</style>

@using (var form = Html.FormFor(Model.PostModel).Begin())
{

    <h3>InputText</h3>
    <div>
        StringInput1: @form.Html.InputText(f => f.StringInput1)
    </div>

    <h3>LabelledInputText</h3>
    @form.Html.LabelledInputText("StringInput2", f => f.StringInput2)


    @form.Html.ButtonSubmit("Submit").Style(MvcForms.Styles.Default.DefaultButton.Primary)

    if (Request.IsPjaxModal())
    {
        @Html.LinkButtonCancelModal()
    }
    else
    {
        @Html.LinkButtonModal("Modal", ExamplesActions.Inputs())
    }
}
