@using MvcForms
@using MvcForms.Styles
@using MvcForms.Forms
@using MvcForms.Navigation
@using MvcForms.StubApp.Controllers
@using MvcForms.StubApp.Models.Examples
@using MvcForms.StubApp.Views
@inherits PjaxPage<InputsModel>
@model InputsModel
@{
    SetLayout("Inputs");
}

<h3>Inputs</h3>

<style>
    p {
        margin-top: 20px;
    }

    form {
        background: #eee;
        max-width: 800px;
        padding: 15px;
    }
</style>

@using (var form = Html.FormFor(Model.PostModel).Begin())
{

    @form.Html.ErrorSummary()

    <h3>InputText</h3>
    @form.Html.FormGroup("StringInput1",        fg => fg.InputText(f => f.InputTextString1))
    @form.Html.FormGroup("StringInput2",        fg => fg.InputText(f => f.InputTextString2))

    <h3>InputNumber</h3>
    @form.Html.FormGroup("Int",                 fg => fg.InputNumber(f => f.InputNumberInt))
    @form.Html.FormGroup("NullableInt",         fg => fg.InputNumber(f => f.InputNumberNullableInt))
    @form.Html.FormGroup("String",              fg => fg.InputNumber(f => f.InputNumberString))

    <h3>Select</h3>
    @form.Html.FormGroup("String",              fg => fg.Select(f => f.SelectString, Model.StringOptions.Optional("<please select>")))
    @form.Html.FormGroup("Group",               fg => fg.Select(f => f.SelectGroup, Model.GroupOptions.Optional("<please select>")))
    @form.Html.FormGroup("Sized",               fg => fg.Select(f => f.SelectSized, Model.StringOptions)).Control(s => s.Size(3))


    using (form.Html.FormGroupLayout())
    {
        @form.Html.ButtonSubmit("Submit").Style(MvcForms.Styles.Default.DefaultButton.Primary)
        @form.Html.ButtonSubmit("Another Submit")

        if (Context.Request.IsPjaxModal())
        {
            @Html.LinkButtonCancelModal()
        }
        else
        {
            @Html.LinkButtonModal("Modal", ExamplesActions.Inputs())
        }
    }
}
